body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-size: 16px;
}

#quiz-setup, #quiz-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz-setup {
    text-align: center;
    margin-bottom: 20px;;
}

#quiz-container {
    display: none;
}

#question, #setup-title {
    margin-bottom: 15px;
    color: #333;
}

#quiz-options-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

#quiz-options-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#quiz-options-form input[type="number"],
#quiz-options-form select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#start-button, #new-quiz-button {
    background-color: #4caf50;
    padding: 10px 20px;
    font-weight: bold;
}

#start-button:hover, #new-quiz-button:hover {
    background-color: #348037;
    transform: scale(1.05);
}

#progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
}

#progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0%;
    transition: width 0.4s ease-in-out;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.feedback {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.quiz-end-container {
    text-align: center;
    margin: 20px;
    display: none;
}

.final-score {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#restart-button, #new-quiz-button {
    width: 50%;
    margin: 5px 0;
}

#restart-button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #333;
}

#restart-button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.correct {
    background-color: #4CAF50;
    color: #fff;
}

.wrong {
    background-color: #ED4337;
    color: #fff;
}

.regular {
    background-color: #ff9800;
    color: #fff;
}

.good {
    background-color: #ffeb3b;
    color: #000;
}

@media (max-width: 768px) {
    #quiz-container, #quiz-setup {
        width: 80%;
        padding: 10px;
    }
    
    #quiz-options-form input[type="number"],
    #quiz-options-form select,
    #start-button, 
    #new-quiz-button, 
    #restart-button {
        width: 100%;
        padding: 8px;
    }

    .btn-grid {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .btn {
        padding: 8px;
        font-size: 14px;
    }

    #restart-button, #new-quiz-button {
        width: 100%;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    #quiz-container, #quiz-setup {
        width: 95%;
    }

    .btn {
        font-size: 1em;
    }

    #quiz-options-form input[type="number"],
    #quiz-options-form select,
    #start-button, 
    #new-quiz-button, 
    #restart-button {
        padding: 6px;
    }
}